/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


form {
  border: 1px solid black;
  padding: 15px;
}

.small-pre {
  max-width: 1200px;
  border: 1px solid black;
  white-space: pre-wrap;
}

.company {
  border: 10px solid turquoise;
  padding: 15px;
  display: inline-block;
  font-size: 1.1em;;
}

  li {
    border: 1px solid black;
    display: inline-block;
  }

.container {
  position: relative;
  width: 100%;
}

.container div {
  height: 120px; 
  position: absolute; 
  width: 80px;
}
.container div[data-ss-colspan="2"] { width: 170px; }
.container div[data-ss-colspan="3"] { width: 260px; }
.container div[data-ss-colspan="4"] { width: 350px; }

a {
  display: inline-block;
  border: 1px solid black;
  padding: 5px ;
  transition: background-color .5s ease-in;
}

a:hover {
  background-color: aqua;
}
