<div class="openall">
  
  Older style header files <b>
    Older C++ header files end with the .h extension
  </b>

  Namespace support <b>
    Some older compilers do not support namespaces.
  </b>


</div>