<div class="openall">
  
  Basic g++ compilation <b><span>g++ executable_name source_name.cpp</span></b>
  
  Steps during compilation
  <b>
  source => preprocessor
         => modified source
         => compiler
         => objects
         => linked objects
         => executable
  </b>
</div>