<div class="openall">
  
  basic function struture <b>
    <span>
    returnType functionName (params)
     { body }
    </span>
    i.e. <span>
    int main () {};
    </span>
  </b>

  void functions / prototypes<b>
    a function that returns nothing
    A prototype is declared before
    i.e.<span>void first(int arg1, int arg2)</span> for a 'first' function

  </b>

  passing by value <b>
    when an objct is passed to a function, the new variable
    is a copy of the original object. 
  </b>

  default arguments <b>
    <span>void myFunction(string = "myDefault")</span>
  </b>

  reference variables <b>
    example: <span>void doubleNum(int &refVar)</span>
    this makes the variable a reference to a variable
    passed in when the function is called.
    This is prototyped with a special syntax:
    <span>void myFunction (argument &)</span>
  </b>

</div>