<div class="openall">

<i>Basic data types</i>
<p>
  <i>Data types</i> 
  char <b>character</b> 
  unsigned char <b>unsigned character</b> 
  int  <b>integer</b> 
  short int <b>short int</b> 
  short <b>short</b> 
  unsigned short int <b>unsigned short integer</b> 
  unsigned short <b>unsigned short integer</b> 
  unsigned int <b>unsigned integer</b> 
  unsigned <b>unsigned int</b> 
  long int <b>long integer</b> 
  long <b>long int</b> 
  unsigned long ing <b>long</b> 
  unsigned long <b>unsigned long int</b> 
  float <b>single precision floating point</b> 
  double <b>double precision floating point</b> 
  long double <b>long double precision floating point</b> 
</p>

<i>If / else</i>
<p>
  Shorthand <b>No braces - <span>if (expression) <br> statement;</span></b>
  Else variations <b><span>else</span>, <span>else if</span></b>
</p>

<i>Boolean operator shorthands</i>
<p>
  And <b><span>&&</span></b>
  Or <b><span>||</span></b>
  Not <b><span>!</span></b>
  Ternary <b><span>condition ? (true_result) : (false_result)</span></b>
</p>

<i>While-loop</i>
<p>
  shorthand <b>No braces - <span>do <br> statement; <br> while (expression);</span></b>
  longhand <b>With braces - <span>do <br> {statements;} <br> while (expression);</span></b>
</p>

</div>