<div class="openall">

  BASIC <b>Acronym: <span>Beginners All-purpose Symbolic Instruction Code</span> <br> Designed for beginners</b> 
  FORTRAN <b>Acronym: <span>Formula Translator</span>. For complex math</b> 
  COBOL  <b>Acronym: <span>Common Business-Oriented Lanuage</span>. For business</b> 
  Pascal <b>teaching language</b> 
  C <b>general-purpose</b> 
  C++ <b>object-oriented C</b> 
  C# <b>Microsoft .NET</b> 
  Java <b>general-purpose</b> 
  Javascript <b>general-purpose</b> 
  Python <b>general-purpose</b> 
  Ruby <b>general-purpose</b> 
  Visual basic <b>Microsoft platform</b> 
</div>

