<div class="openall">

  calc pay from input (hours, rate)
  <b>
    #include &lt;iostream&gt; 
    using namespae std;
    int main()
    {
      double hours, rate, pay;
      cout << "Enter num hours";
      cin >> hours;
      cout << "enter rate";
      cin >> rate;
      pay = hours * rate;
      cout << "earnings: " << pay << end;
      return 0;
  </b>
</div>