<div class="openall">
  Newline <b><span>\n</span> Causes the cursor to go to the next line for subsequent printing.</b>
  Horizontal  tab <b><span>\t</span> Causes the cursor to skip over to the next tab stop.</b>
  Alarm <b><span>\a</span> Causes the computer to beep.</b>
  Backspace <b><span>\b</span> Causes the cursor to back up, or move left one position.</b>
  Return <b><span>\r</span> Causes the cursor to go to the beginning of the current line, not the
  next line.</b>
  Backslash <b><span> \\</span> Causes a backslash to be printed.</b>
  Single quote <b><span> \'</span> Causes a single quotation mark to be printed.</b>
  Double quote <b><span> \"</span> Causes a double quotation mark to be printed.</b>
</div>