<div class="openall">
  
  sizeof <b>
    Shows the memory size of an objet.
    Usage: <span>sizeof(variableName)</span>
  </b>

  rand <b>
    <span>#include &lt;cstdlib&gt; </span>
    <span>rand()</span>
    for seeding randomization, <span>srand(x)</span>

    To limit random range, use:
    <span>rand() % maxRange + 1</span>
  </b>

  time <b>
    <span>#include &lt;ctime&gt; </span>
    <span>time(0)</span> for urrent time
  </b>


</div>