<div class="openall">
  
  Naming rules: <b>
    First character a-z, A-Z, underscore
    Rest of characters a-z, A-Z, 0-9, underscore
    Case-sensitivity upper / lowercase is distinct.
  </b>

  Declaring multiple variables at once <b>
    example: <span>
      double regularWages,
             basePayRate = 18.25,
             totalWages;
    </span>
    This will declare the type for 3 variables and assign a value to one of them. 
  </b>

  local variables <b>
    Those defined in functions only exist for the lifetime of the function
  </b>

  global variables <b>
    variables whih are defined outside of any function scope
    i.e. before main, along with the function prototypes
  </b>

</div>