<div class="flashcards">

<% ["glossary", "language_comparisons"].each do |page| %>
<pre class='openall'>
  <i><%= page %></i>
  <b><%= render "cpp/#{page}" %></b>
</pre>
<% end %>
















</div>
