<div class="flashcards">

<div class="openall openall-deep">
C++
<b>
  <%= render "cpp_index" %>
</b> <br>
</div>

<div class="openall openall-deep">
Telephony
<b>
  <%= render "telephony_index" %>
</b> <br>
</div>


</div>
